		
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title bg-cover" style="background:#009688;" data-overlay="5" id="cover">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12"></div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Main Section Start ================================== -->
			<section class="gray-bg pt-4">
				<div class="container-fluid">
        <div class="row m-0">
						
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
          <div class="dashboard-navbar overlio-top">
            
          <div class="d-user-avater">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: 'img-fluid rounded'%>  
            <% else %>
            <%= image_tag(image_path('avatar.png'), class: 'img-fluid rounded') %>
            <% end %>       
              <h4><%= current_user.firstname %> <%= current_user.lastname %></h4>
              <span><%= current_user.location %></span>
          </div>
            
            <div class="d-navigation">
              <ul id="metismenu" class="metismenu">
                 <li><%= link_to myrequests_path, class: 'nav-link' do %>
                  <i class="fa fa-trash mr-1"></i>Manage Requests
                  <i class="fa fa-bell" aria-hidden="true"></i><span class="good"></span>
                <% end %>
                </li>
                <li>
                <%= link_to requests_path, class: 'nav-link' do %>
                  <i class="fa fa-trash mr-1"></i>Requests
                  <i class="fa fa-bell" aria-hidden="true"></i><span class="good"></span>
                <% end %>
                </li>
                <li><a href="reviews.html">Request Options</a></li>
                <li><a href="reviews.html">Categories</a></li>
              </ul>
            </div>
            
          </div>
        </div>
          
						
						<!-- Item Wrap Start -->
						<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<!-- Breadcrumbs -->
									<div class="bredcrumb_wrap">
										<nav aria-label="breadcrumb">
										  <ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
										  </ol>
										</nav>	
									</div>
								</div>
							</div>
                            <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="_dashboard_content">
                            <div class="_dashboard_content_header">
                                <div class="_dashboard__header_flex">
                                    <h4><i class="ti-briefcase mr-1"></i>Assign User Role</h4>	
                                </div>
                            </div>
                            
                            <div class="_dashboard_content_body">
                            <%= form_with(model: @user) do |form| %>
                                <div class="row">

                                    <div class="col-xl-4 col-lg-6">
                                        <div class="form-group">
                                            <label><%= @user.email %> <%= @user.firstname %></label>
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="col-xl-6 col-lg-12">
                                        <label>Assign A Role</label>
                                        <div class="yn_feedback">
                                            <div class="radio">
                                            <%= form.collection_check_boxes :role_ids, Role.all, :id, :name %>
                                            </div>
                                        </div>
                                        <%= form.select :photo, [["Certified", 'Certified'], ["Uncertified", 'Uncertified']], { :selected => false }, class: 'form-select', required: true %>
                                        </div>			

                                    </div>
                                    <%= form.submit class: 'btn btn-success' %>
                                  
                                  <% end %>  
                                </div>
                            </div>
                        </div>
                            
                        </div>
                    </div>
              
              </div>
            </div>

                    
</div>
</div>
</section>




