<div class="modal modal-signin position-static d-block bg-light py-5" tabindex="-1" role="dialog" id="modalSignin">
<div class="modal-dialog" role="document">
  <div class="modal-content rounded-5 shadow">
  <div class="modal-header p-5 pb-4 border-bottom-0">
    <h2 class="fw-bold mb-0">Change Your Password</h2>
  </div>
  <div class="modal-body p-5 pt-0">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <form class="">
    <div class="form-floating mb-3">
    <%= f.password_field :password, autofocus: true, placeholder: "(6 characters minimum)", class: 'form-control round-4' %>
      <label for="floatingInput">New Password</label>
    </div>
    <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: 'form-control round-4' %>
      <label for="floatingInput">Repeat Password</label>
    </div>
       <h2 class="fs-5 fw-bold mb-3"></h2>
       <%= f.submit "Change my password", class: 'w-100 mb-2 btn rounded-4 btn-primary' %>
       <%= render "devise/shared/links" %>
    </button>
    </form>
    <% end %>
  </div>
  </div>
</div>
</div>

