<div class="modal modal-signin position-static d-block bg-light py-5" tabindex="-1" role="dialog" id="modalSignin">
<div class="modal-dialog" role="document">
  <div class="modal-content rounded-5 shadow">
  <div class="modal-header p-5 pb-4 border-bottom-0">
    <h2 class="fw-bold mb-0">Forgot Password</h2>
  </div>
  <div class="modal-body p-5 pt-0">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <form class="">
    <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-4' %>
      <label for="floatingInput">Email address</label>
    </div>
       <h2 class="fs-5 fw-bold mb-3"></h2>
       <%= f.submit "Send me reset password instructions", class: 'w-100 mb-2 btn rounded-4 btn-primary' %>
       <%= render "devise/shared/links" %>
    </button>
    </form>
    <% end %>
  </div>
  </div>
</div>
</div>

