<section>
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Available Services<span class="theme-cl-2">Categories</span></h2>
								<p>Request a service and lets handle it for you</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('plumbing.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Handyman</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH200</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('cctv.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">CCTV & Electricals</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH500</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('errands.png'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Errands</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH150</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('photography.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Photography</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH500</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('garbage.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Waste Pickup</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH50 - GH100</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('janitors.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Janitors</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH150</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('repairs.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Phone & PC Repairs</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH300</span></i>
						</div>
					</div>
					</div>
					
					<!-- Single category -->
					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('webdesigne.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Web Design & IT</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH200 - GH500</span></i>
						</div>
					</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('art.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Art & Design</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH200 - GH500</span></i>
						</div>
					</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('mechanic.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Driver & Mechanic</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH500</span></i>
						</div>
					</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('decoration.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Decoration</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH300</span></i>
						</div>
					</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card" style="width:300px" id="home-card">
					<%= image_tag(image_path('landscape.jpg'), class: 'card-img-top', style: 'width:100%') %>
						<div class="card-body">
						<h5 class="card-title">Landscapping</h5>
						<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH300</span></i>
						</div>
					</div>
					</div>
					

					
				</div>
			</section>