
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero-banner full jumbo-banner" style="background:#ffffff;" id="home-cover">
				<div class="container">
					<div class="row align-items-center">
					
					<div class="col-lg-2 col-md-8">
					</div>
					
						<div class="col-lg-8 col-md-8">
                          <div class="card" height="300px">
                              <div class="card-body">
							<a href="#" class="header-promo w-inline-block"><div class="label">Try it</div><div class="header-promo-text"> Today</div></a>
							<h1 class="text-center">Hire experts to make your life easy!</h1><br>
							<h6 class="text-center">from plumbing to errand providers. <br><br>taskrol makes hiring the right expert 
							hussle free any day,
							fast and safe<br><br>
							<%= link_to "Request Services", new_request_path, class: 'btn btn-success' %>
							</h6>
							<form class="search-big-form banner-search shadow mt-3">
								<div class="row m-0">
									
									<div class="col-lg-10 col-md-4 col-sm-12 p-0">
										<div class="form-group">
										
										</div>
									</div>
									
									<div class="col-lg-2 col-md-3 col-sm-12 p-0">
									</div>
								</div>
							</form>
							<div class="featured-category light">
								<ul>
									<li>Category Tags:</li>
									<li><%= link_to "Plastic waste disposal", new_request_path %></li>
									<li><%= link_to "Web & IT", new_request_path %></li>
									<li><%= link_to "Handyman", new_request_path %></li>
									<li><%= link_to "AC & Electrical Repairs", new_request_path %></li>
									<li><%= link_to "Janitors", new_request_path %></li>
									
								</ul>
							</div>		
						</div>
						</div>
					</div>
						<div class="col-lg-2 col-md-4">
                        <%#= image_tag(image_path('yellow-krol.svg'), class: 'img-fluid') %>
						</div>
					
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<div class="charity-wrapper">
			
                <h4 class="promotional-text">
				<div class="page-content page-container" id="page-content">
						<br>
				<%= image_tag(image_path('promotion-icon.png')) %>Get <span>20% off</span> when you make your first request on taskrol.</h4> 
            </div>
			
			<!-- ============================ Newest Designs Start ==================================== -->
			<section>
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Featured<span class="theme-cl-2">Categories</span></h2>
								<p>Request a service and lets handle it for you</p>
							</div>
						</div>
					</div>
					<div class="row align-items-center h-100">
					
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('plumbing.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Handyman</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH200</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('cctv.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">CCTV & Electricals</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH500</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('errands.png'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Errands</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH150</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('photography.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Photography</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH100 - GH500</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('garbage.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Waste Pickup</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH50 - GH100</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('janitors.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Janitors</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH150</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('repairs.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Phone & PC Repairs</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH80 - GH300</span></i>
							</div>
						</div>
						</div>
						
						<!-- Single category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card" style="width:300px" id="home-card">
						<%= image_tag(image_path('webdesigne.jpg'), class: 'card-img-top', style: 'width:100%') %>
							<div class="card-body">
							<h5 class="card-title">Web Design & IT</h5>
							<i class="fa fa-tags" aria-hidden="true"><span> Average GH200 - GH500</span></i>
							</div>
						</div>
						</div>
					
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="mt-3 text-center">
							<%= link_to "Browse More Categories", categories_path, class: 'btn btn-success btn-lg' %>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ categories End ==================================== -->

			<!-- ============================ Newest request Start ==================================== -->
			<section class="min-sec gray-light">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Request<span class="theme-cl-2"> Open For Providers To Bid</span></h2>
								<p>Get the most experienced service providers to help with tasks right from the comfort of your home</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">						
							<!-- Single Item -->
							<% @requests.each do |request| %>
								<% if request.open?%>
							<div class="_list_jobs_wraps shadow_0">
								<div class="_list_jobs_f1ex first">
									<div class="_list_110">
										<div class="_list_110_thumb">
											<a href="#"><%= image_tag(image_path('request.png'), class: 'img-fluid') %></a>
										</div>
										<div class="_list_110_caption">
											<h4 class="_jb_title"><span class="theme-cl-2"><%= request.title %></span></h4>
											<div class="_emp_jb"><%= request.category.title  %></div>
										</div>
									</div>
								</div>
								<div class="_list_jobs_f1ex">
									<div class="_list_110_caption">
										<h4 class="_jb_title"><%= request.streetname %>, <%= request.landmark %>, <%= request.housenumber %></h4>
										<div class="_emp_jb"><%= request.date %>|<%= request.time.strftime("%I:%m %p") %></div>
									</div>	
								</div>
								<div class="_list_jobs_f1ex">
									<div class="_list_110_caption">
									 <% if request.open?%>
										<h4 class="_jb_title">Accepting Bids</h4>
									 <% else %>
										<div class="_emp_jb">Request is closed</div>
									<% end %>
									</div>
								</div>
								<div class="_list_jobs_f1ex">
								<%= link_to request.title, request, class: "_jb_apply" %>
								</div>
							</div>
							<% end %>
							<% end %>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Newest requests End ==================================== -->

			<div class="px-4 pt-5 my-5 text-center border border-dashed">
				<h1 class="display-4 fw-bold">Premium Project</h1>
				<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Do you have a project that runs more than <span>a month?</span> Hire our highly rated expert for the project</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
				<%= link_to "Premium Project", new_project_path, class: 'btn btn-primary btn-lg px-4 me-sm-3' %>
				</div>
				</div>
				<div class="overflow-hidden" style="max-height: 30vh;">
				<div class="container px-5">
				</div>
				</div>
			</div>

			<div class="charity-wrapper">
			
                <h4 class="promotional-text">
				<div class="page-content page-container" id="page-content">
						<div class="padding">
							<div class="row container d-flex justify-content-center">
								<div class="template-demo mt-2">
								 
								 
								 <span class="d-inline-block text-left"> 
								  
								 
								 <span class="d-inline-block text-left">
								  <small class="font-weight-light d-block"></span> 
								  </div>
							</div>
						</div>
					</div><br>
            </div>
			
			<!-- ============================ Setup Process Start ==================================== -->
			<section class="pb-0">
				<div class="container">
					<div class="row align-items-center">
					
						<div class="col-lg-5 col-md-6">
						<%= image_tag(image_path('yellow-krol.svg'), class: 'img-fluid') %>
						</div>
					
						<div class="col-lg-7 col-md-6">
							<div class="_setup_process">
								<h2>How it <span class="theme-cl-2">Works</span></h2>
								<p>Use our app, in 4 steps you are on course for your service being rendered</p>
							</div>
							<div class="row">
						
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="yel098_7uw">
										<div class="ye_lk23">
											<i class="fa fa-box ti-package"></i>
										</div>
										<div class="yel_7bcx">
											<h4>Get introduced to experts</h4>
											<p>Make a request of the services you need and trust us to get you a perfect match</p>									
										</div>
									</div>
								</div>
								
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="yel098_7uw">
										<div class="ye_lk23">
											<i class="fa fa-street-view ti-mouse-alt"></i>
										</div>
										<div class="yel_7bcx">
											<h4>Compare experts service providers</h4>
											<p>Withing hours intrested experts will submit their bids for you to make a decision for which to pick</p>									
										</div>
									</div>
								</div>
								
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="yel098_7uw">
										<div class="ye_lk23">
											<i class="fa fa-users ti-layers"></i>
										</div>
										<div class="yel_7bcx">
											<h4>Hire the right expert</h4>
											<p>A list of all the interested candidates will show up on your dashbaord with their details.
											</p>									
										</div>
									</div>
								</div>
								
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="yel098_7uw">
										<div class="ye_lk23">
											<i class="fa fa-money ti-mobile"></i>
										</div>
										<div class="yel_7bcx">
											<h4>Close Request</h4>
											<p>Once you have gotten the right expert. Click on accept bid beside the expert you wish to employ to confirm 
											and select the expert you want
											</p>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<iframe width="400" height="400" src="https://www.youtube.com/embed/8hvW6kZY6qU/">
                        </iframe>
					</div>
				</div>
			</section>
			<!-- ============================ Featured Themes End ==================================== -->
			<section class="how-it-works">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-9">
						<div class="sec-heading">
							<h2>Why Choose<span class="theme-cl-2"> US</span></h2>
							<p>Over thousands of registered and certified service providers are ready to provide you with high quality services</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="working-process"><span class="process-img"><%= image_tag(image_path('step-1.png'), class: 'img-responsive') %><span class="process-num">01</span></span>
							<h4>Verified Badge</h4>
							<p>Spot transparent expert by looking out for a verified badge on their profile. Experts who have badge
							 have provided the necessary documents to prove their skill</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="working-process"><span class="process-img"><%= image_tag(image_path('step-2.png'), class: 'img-responsive') %><span class="process-num">02</span></span>
							<h4>Settle Dispute</h4>
							<p>If you are not satisfied or have any issue you can send a report using the chat icon at the botton right corner</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="working-process"><span class="process-img"><%= image_tag(image_path('step-3.png'), class: 'img-responsive') %><span class="process-num">03</span></span>
							<h4>Privacy</h4>
							<p>When you register with Taskrol, your details will not be shared to any person.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
					
			<section class="min-sec">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Certified<span class="theme-cl-2"> Krols(Taskers)</span></h2>
								<p>Hand-vetted talent for all your professional needs and requests.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
								
						<!-- Single Item -->
						<% @featured.each do |featured| %>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="_freelacers_120 large">
								<div class="jobs-like"><label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label></div>
								<div class="_freelacers_120_thumb">
								 <%= image_tag(image_path('step-3.png'), class: 'verified', width: '15') %>
									<a href="/"><%= image_tag(image_path('step-3.png'), class: 'image-fluid circle') %></a>
								</div>
								<div class="_freelacers_120_caption">
									<div class="_freelan_laft"><i class="fa fa-map-pin ti-location-pin mr-1"></i><%= featured.location %></div>
									<h4><a href="freelancer-detail.html"><%= featured.firstname %><%= featured.lastname %></a></h4>
									<span class="_freel_spec"><%#= featured.skills %></span>
								</div>
								<div class="_freelacers_120_body">
									<div class="_free0o9">
										<ul>
											<li><%= featured.location %></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<% end %>
						
						
					</div>
					
				</div>
			</section>
